/**
 * Colors from "Fluent UI Theme Designer"
 */
:root {
  --codoodle-grid-backgroundColor: #ffffff;
  --codoodle-grid-border: 1px solid #e1dfdd;
  --codoodle-grid-headRowHeight: 30px;
  --codoodle-grid-headBackgroundColor: #f3f2f1;
  --codoodle-grid-bodyRowHeight: 30px;
  --codoodle-grid-bodyBackgroundColor: #ffffff;
  --codoodle-grid-scrollBar-backgroundColor: #faf9f8;
}

.__vq04hEuH1zg- {
  background-color: var(--codoodle-grid-backgroundColor);
  border: var(--codoodle-grid-border);
}
.__vq04hEuH1zg- * {
  box-sizing: border-box;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A- {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  width: 100%;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A- .__fdYgy9yjN7I- {
  position: absolute;
  border: var(--codoodle-grid-border);
  border-left: none;
  border-top: none;
  display: flex;
  align-items: center;
  padding: 0 0.5em;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A- .__fdYgy9yjN7I- .__9GOqQLih-Co- {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A- .__4uQ0IjoKQNQ- {
  background-color: var(--codoodle-grid-headBackgroundColor);
  border-bottom: var(--codoodle-grid-border);
  grid-column: 1/2;
  grid-row: 1/2;
  overflow: hidden;
  position: relative;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A- .__4uQ0IjoKQNQ- .__fdYgy9yjN7I- {
  height: var(--codoodle-grid-headRowHeight);
}
.__vq04hEuH1zg- .__6-uvyu-2g6A- .__4uQ0IjoKQNQ-.__dXb8JpY4kCY- {
  display: none;
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: yellow;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A- .__ThQR4eiu5h4- {
  background-color: var(--codoodle-grid-bodyBackgroundColor);
  grid-column: 1/2;
  grid-row: 2/3;
  overflow: hidden;
  position: relative;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A- .__ThQR4eiu5h4- .__fdYgy9yjN7I- {
  height: var(--codoodle-grid-bodyRowHeight);
}
.__vq04hEuH1zg- .__6-uvyu-2g6A- .__ThQR4eiu5h4-.__dXb8JpY4kCY- {
  display: none;
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: yellow;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A- .__ThQR4eiu5h4-.__ojKoLFVu-FY- {
  display: none;
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: yellow;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A- .__ThQR4eiu5h4-.__dXb8JpY4kCY-.__ojKoLFVu-FY- {
  display: none;
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: red;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A- .__ITaGsGEvkm8- {
  background-color: var(--codoodle-grid-scrollBar-backgroundColor);
  display: none;
  grid-column: 1/2;
  grid-row: 3/4;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A- .__y6-RPI-t-zs- {
  background-color: var(--codoodle-grid-scrollBar-backgroundColor);
  display: none;
  grid-column: 2/3;
  grid-row: 2/3;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A- .__v7J9dFViOuA- {
  background-color: var(--codoodle-grid-headBackgroundColor);
  border: var(--codoodle-grid-border);
  border-top: none;
  border-right: none;
  display: none;
  grid-column: 2/3;
  grid-row: 1/2;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A- .__2ckJNgdY-QI- {
  background-color: var(--codoodle-grid-scrollBar-backgroundColor);
  display: none;
  grid-column: 2/3;
  grid-row: 3/4;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__jlPTAph9CoE- {
  grid-template-columns: 1fr var(--codoodle-scrollBar-size);
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__jlPTAph9CoE- .__y6-RPI-t-zs- {
  display: block;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__jlPTAph9CoE- .__rdJkwuemsAU- {
  border-bottom: none;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__jlPTAph9CoE- .__v7J9dFViOuA- {
  display: block;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__VElfajfvryk- {
  grid-template-rows: auto 1fr var(--codoodle-scrollBar-size);
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__VElfajfvryk- .__ITaGsGEvkm8- {
  display: block;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__VElfajfvryk- .__uZm4DXub-SM- {
  border-right: none;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__jlPTAph9CoE-.__VElfajfvryk- .__2ckJNgdY-QI- {
  display: block;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__8JPAfd4IZEo- {
  grid-template-columns: auto 1fr;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__8JPAfd4IZEo- .__4uQ0IjoKQNQ-:not(.__dXb8JpY4kCY-) {
  grid-column: 1/3;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__8JPAfd4IZEo- .__ThQR4eiu5h4-:not(.__dXb8JpY4kCY-) {
  grid-column: 1/3;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__8JPAfd4IZEo- .__ITaGsGEvkm8- {
  grid-column: 1/3;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__8JPAfd4IZEo- .__y6-RPI-t-zs- {
  grid-column: 3/4;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__8JPAfd4IZEo- .__v7J9dFViOuA- {
  grid-column: 3/4;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__8JPAfd4IZEo- .__2ckJNgdY-QI- {
  grid-column: 3/4;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__8JPAfd4IZEo- .__4uQ0IjoKQNQ-.__dXb8JpY4kCY- {
  display: block;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__8JPAfd4IZEo- .__ThQR4eiu5h4-.__dXb8JpY4kCY-:not(.__ojKoLFVu-FY-) {
  display: block;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__8JPAfd4IZEo-.__jlPTAph9CoE- {
  grid-template-columns: auto 1fr var(--codoodle-scrollBar-size);
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__8y5KPPPb9oc- {
  grid-template-rows: auto auto 1fr;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__8y5KPPPb9oc- .__ThQR4eiu5h4-:not(.__ojKoLFVu-FY-) {
  grid-row: 2/4;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__8y5KPPPb9oc- .__ITaGsGEvkm8- {
  grid-row: 4/5;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__8y5KPPPb9oc- .__y6-RPI-t-zs- {
  grid-row: 2/4;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__8y5KPPPb9oc- .__2ckJNgdY-QI- {
  grid-row: 4/5;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__8y5KPPPb9oc- .__ThQR4eiu5h4-.__ojKoLFVu-FY-:not(.__dXb8JpY4kCY-) {
  display: block;
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__8y5KPPPb9oc-.__VElfajfvryk- {
  grid-template-rows: max-content auto 1fr var(--codoodle-scrollBar-size);
}
.__vq04hEuH1zg- .__6-uvyu-2g6A-.__8JPAfd4IZEo-.__8y5KPPPb9oc- .__ThQR4eiu5h4-.__dXb8JpY4kCY-.__ojKoLFVu-FY- {
  display: block;
}